
// List helper
// ------------------------------------------------------------------------ //

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline > li {
    display: inline-block;
}


// Typography helper
// ------------------------------------------------------------------------ //

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-caps {
    text-transform: uppercase;
}

@each $state, $color in $palettes {
    .text-#{$state} {
        color: $color !important;
    }

    a.text-#{$state} {

        &:hover,
        &:focus {
            color: darken($color, 10%) !important;
        }
    }
}


// Visual helper
// ------------------------------------------------------------------------ //

.clearfix:after,
.cf:after {
    display: table;
    clear: both;
    content: '';
}

.hidden {
    display: none !important;
}

.visuallyhidden,
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}

.full-width {
    width: 100%;
}

.anchor {
    color: currentcolor;
}

$marginBottoms: 0, 2, 4, 8, 12, 16, 20, 24, 30, 36, 42, 48;

@each $m in $marginBottoms {
    .mb-#{$m} {
        margin-bottom: $m * 1px !important;
    }
}

$paddings: 0, 2, 4, 8, 12, 16, 20, 24, 30, 36, 42, 48;

@each $p in $paddings {
    .p-#{$p} {
        padding: $p * 1px !important;
    }
}

.bordered {
    border: solid 1px palette(gray);
}

.lh-1 {
    line-height: 1;
}

.img-rounded {
    border-radius: 50%;
}
