
// Typography
// ------------------------------------------------------------------------ //

$base_font_size     : 16px;
$base_line_height   : 1.6em;
$base_font_family   : 'Helvetica Neue', 'Helvetica', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
$space              : $base_line_height;



// Colors
// ------------------------------------------------------------------------ //

$black              : #222;
$black90            : lighten($black, 10%);
$black80            : lighten($black, 20%);
$black70            : lighten($black, 30%);
$black60            : lighten($black, 40%);
$black50            : lighten($black, 50%);
$black40            : lighten($black, 60%);
$black30            : lighten($black, 70%);
$black20            : lighten($black, 80%);
$black10            : lighten($black, 90%);

$palettes: (
    red: #FE2A1A,
    redDark: #CA0926,
    black: #222,
    blackLight: #666,
    purple: #B44870,
    orange: #FFA827,
    gray: #D5D5D5,
    grayLight: lighten(#D5D5D5, 13%),
    grayDark: darken(#D5D5D5, 13%),
    green: #17A452,
    white: #fff
);

@function palette($color) {
    @if map-has-key($palettes, $color) {
        @return map-get($palettes, $color);
    } @else {
        @warn "key `#{$color}` was not found. Falling back to #222";
        @return #222;
    }
}

$link               : #0094ed;
$link_hover         : darken($link, 10%);

$selection_bg       : #b3d4fc;
$selection_color    : $black;



// Break Points
// ------------------------------------------------------------------------ //

$small              : "screen and (min-width: 20em)";
$small_portrait     : "screen and (min-width: 20em) and (orientation: portrait)";
$small_landscape    : "screen and (min-width: 20em) and (orientation: landscape)";

$medium             : "screen and (min-width: 48em)";
$medium_portrait    : "screen and (min-width: 48em) and (orientation: portrait)";
$medium_landscape   : "screen and (min-width: 48em) and (orientation: landscape)";

$large              : "screen and (min-width: 64em)";

$retina             : "(-webkit-min-device-pixel-ratio: 1.3),
                       (min-resolution: 1.25dppx),
                       (min-resolution: 120dpi)";

