
$brands: (
    fb: #3b5998,
    tw: #55acee,
    gp: #dd4b39,
    yt: #e52d27,
    ig: #3f729b,
    yh: #400191,
    wa: #25d366
);

@function brand( $key ) {

    @if map-has-key( $brands, $key ) {
        @return map-get( $brands, $key );
    } @else {
        @warn "key `#{$key}` was not found. Falling back to #222";
        @return #222;
    }

}
