
.alert {
    position: relative;
    display: block;
    padding: ($space / 2);
    border: solid 1px transparent;
    border-radius: 4px;
    margin-bottom: $space;
    font-weight: 700;
}

.alert--success {
    border-color: darken(palette(green), 5%);
    color: #fff;
    background: palette(green);
}

.alert--alert {
    border-color: darken(palette(red), 5%);
    color: #fff;
    background: palette(red);
}

.alert-close {
    position: absolute;
    top: 50%;
    right: 8px;
    padding: 0;
    border: 0;
    font-size: 18px;
    color: #fff;
    background: none;
    transform: translate(0, -50%);
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
