
.brochure-filter {
    display: flex;
    flex-direction: column;
    margin-bottom: $space;

    > * {
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        > :not(:first-child) {
            margin-left: 8px;
        }
    }

    label {
        width: 100px;
    }

    @media #{$medium} {
        flex-direction: row;

        > * {
            flex-direction: row;
            flex: 0 0 200px;

            &:not(:first-child) {
                margin-left: 16px;
            }
        }


        label {
            width: auto;
        }
    }
}

.brochure-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1px;
    margin-bottom: $space;

    > li {
        flex: 0 0 100%;
        width: 100%;
        padding: $space ($space / 2);
        border: solid 1px palette(gray);
        margin-left: -1px;
        margin-bottom: -1px;
    }

    @media screen and (min-width: 25em) {
        > li {
            flex: 0 0 50%;
            width: 50%;
        }
    }

    @media #{$medium} {
        > li {
            flex: 0 0 33.3%;
            width: 33.3%;
        }
    }

    @media #{$large} {
        > li {
            flex: 0 0 20%;
            width: 20%;
        }
    }
}

.brochure-item {
    img {
        display: table;
        margin: 0 auto 8px;
    }

    h4 {
        height: (1.4em * 2);
        margin-bottom: 4px;
        line-height: 1.4em;
        overflow: hidden;
    }

    time {
        display: block;
        margin-bottom: 8px;
        font-size: 87.5%;
    }
}

.brochure-item-btns {
    display: flex;
    justify-content: center;

    > :not(:first-child) {
        margin-left: 4px;
    }
}

.brochure-slider {
    max-width: 500px;
    padding-bottom: ($space * 3);
    margin: 0 auto $space;

    img {
        width: 100%;
    }

    .slick-arrow {
        top: auto;
        bottom: 0;
        width: 50px;
        height: 50px;
        border: solid 1px palette(grayDark);
        border-radius: 50%;
        font-size: 22px;
        transform: translate(0, 0);
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }

    @media #{$medium} {
        .slick-arrow {
            top: 50%;
            bottom: auto;
            transform: transform(0, -50%);
        }

        .slick-prev {
            right: 100%;
            left: auto;
            margin-right: $space;
        }

        .slick-next {
            right: auto;
            left: 100%;
            margin-left: $space;
        }
    }
}
