
// Setup
// ------------------------------------------------------------------------ //

$BTN_PADDING: ($space / 3) $space;

@mixin btnStyle( $bg, $color: #fff ) {
    border-color: $bg;
    color: $color;
    background: $bg;

    &:hover,
    &:focus {
        color: $color;
        background: lighten($bg, 5%);
    }

    &.btn--outline {
        color: $bg;
        background: none;

        &:hover,
        &:focus {
            color: $color;
            background: $bg;
        }
    }
}


// Base Style
// ------------------------------------------------------------------------ //

.btn {
    display: inline-block;
    padding: 6px 16px;
    border: solid 1px transparent;
    border-radius: 3px;
    font-family: inherit;
    line-height: $base_line_height;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: $black80;
    background: #ddd;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0,0,0,0);

    &:focus {
        outline: none;
    }

    &[disabled] {
        cursor: not-allowed;
        pointer-events: none;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.btn--primary {
    @include btnStyle(palette(red), #fff);
}

.btn--white {
    @include btnStyle(palette(white), palette(black));
}

.btn--secondary {
    @include btnStyle(#3B3B3B, #fff);
}

.btn--wide {
    padding-right: $space * 2;
    padding-left: $space * 2;
}

.btn--block {
    width: 100%;
}

.btn--small {
    font-size: 87.5%;
}

.btn-anchor {
    padding: 0;
    border: 0;
    color: palette(red);
    background: none;
    cursor: pointer;

    &:hover,
    &:focus {
        text-decoration: underline;
        color: darken(palette(red), 5%);
    }

    &:focus {
        outline: none;
    }
}
