
.categories-trigger {
    padding: 8px 0;
    border: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: currentcolor;
    background: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    .fa {
        vertical-align: middle;
        font-size: 20px;
        color: palette(red);
    }
}

.category-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    width: 100%;
    background: #fff;
    opacity: 0;
    pointer-events: none;
    transition: all 350ms ease;
    transform: translate(0, 5px);

    &.is-active {
        opacity: 1;
        pointer-events: auto;
        transform: translate(0, 0);
    }
}

.category-list {
    position: relative;
    width: 250px;
    background: #fff;

    .category-list {
        position: absolute;
        top: 0;
        left: 100%;
        display: none;
        width: 870px;
        height: 100%;
        border-left: solid 3px palette(black);

        &.is-active {
            display: block;
        }

        .category-list {
            width: auto;
        }
    }

    > ul {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        height: 100%;
        overflow: auto;

        &:after {
            display: table;
            clear: both;
            content: '';
        }

        > li {
            float: left;
            width: 50%;
        }
    }
}

.category-list-item {

    &:not(:last-child) {
        border-bottom: solid 1px palette(gray);
    }

    .category-list--level-2 & {
        border-bottom: 0;
    }
}

.category-list-anchor {
    display: flex;
    align-items: center;
    padding: ($space / 2.5) ($space / 1.5);
    color: currentcolor;

    .category-list-item:hover > &,
    &:hover {
        color: currentcolor;
    }

    img {
        margin-right: 8px;
    }
}

.category-list-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 270px;
    height: 100%;
    border-left: solid 3px palette(black);
    object-fit: cover;
}

.category-list-anchor--level-2 {
    font-weight: 700;
}

.category-level-3 {
    margin-bottom: $space;

    .category-list-anchor {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.category-list-anchor--level-1 {

    .category-list-item:hover > &,
    &:hover {
        background: palette(grayLight);
    }
}
