
.contact-layout {
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0;

    @media #{$large} {
        padding-bottom: ($space * 8);
        background-size: 100%;
    }
}

.contact-layout-content {
    max-width: 700px;
    margin: 0 auto;
}

.contact-form-row {
    margin-left: -12px;

    > * {
        flex: 1;
        padding-left: 12px;
        margin-bottom: 12px;
    }

    @media #{$medium} {
        display: flex;
    }
}
