
.featured-brands {
    margin-top: ($space / 2);
    margin-left: ($space * -1/2);

    &:after {
        display: table;
        clear: both;
        content: '';
    }

    li {
        float: left;
        width: 50%;
        padding-left: ($space / 2);
        margin-bottom: ($space / 2);
    }

    a {
        display: block;
        border: solid 1px palette(gray);

        &:hover,
        &:focus {
            border-color: palette(blackLight);

            img {
                filter: grayscale(0);
            }
        }
    }

    img {
        width: 100%;
        height: 90px;
        filter: grayscale(1);
        object-fit: contain;
    }

    @media screen and (min-width: 30em) {
        li {
            width: 33.3%;
        }
    }

    @media #{$medium} {
        li {
            width: 25%;
        }
    }

    @media #{$large} {
        li {
            width: 20%;
        }
    }
}
