
.flash-msg {
    position: fixed;
    top: 63px;
    left: 0;
    z-index: 11;
    width: 100%;
    padding: 4px 0;
    text-align: center;
    font-size: 10px;
    color: #fff;
    white-space: nowrap;

    a {
        color: currentcolor;

        &:hover,
        &:focus {
            color: currentcolor;
            text-decoration: underline;
        }
    }

    @media #{$large} {
        top: 0;
        font-size: 12px;
    }
}
