
$fg_breakpoints: 320, 400, 480, 640, 768, 1024;
$fg_col_count: 1, 2, 3, 4, 5, 6, 7, 8;

.fg {
    display: flex;
    flex-wrap: wrap;
    margin-left: ($space * -1);

    > * {
        flex: 0 0 100%;
        width: 100%;
        padding-left: $space;
        margin-bottom: $space;
    }
}

@each $bp in $fg_breakpoints {
    @each $col in $fg_col_count {
        $mediaWidth: $bp / 16 * 1em;
        $colWidth: 100 / $col * 1%;

        .fg-#{$bp}-#{$col} {
            @media screen and (min-width: $mediaWidth) {
                > * {
                    flex: 0 0 $colWidth;
                    width: $colWidth;
                }
            }
        }
    }
}
