
.footer {
    position: relative;
    z-index: 1;
    padding-top: ($space * 2);
    background: #fff;

    .container.has-border {
        border-top: solid 5px palette(gray);
    }
}

.footer-sections {
    padding-top: $space;
    margin-left: ($space * -1);

    @media #{$medium} {
        display: flex;
    }
}

.footer-section {
    flex: 1;
    padding-left: $space;
    margin-bottom: $space;
    text-align: center;

    @media #{$medium} {
        text-align: left;
    }
}

.footer-heading {
    margin-bottom: 12px;
}

.footer-navs {

    li {
        margin-bottom: 4px;
    }

    a {
        color: currentcolor;

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}

.copyrights {
    padding: ($space / 1.5) 0;
    font-size: 87.5%;
    line-height: 1.4;
    text-align: center;
    color: #fff;
    background: palette(black);
}

.footer-subscribe {
    max-width: 300px;
    margin: 0 auto;

    @media #{$medium} {
        max-width: none;
    }
}
