
// Config
// ------------------------------------------------------------------------ //

$input_border_size      : (1 * 1px);
$input_border_color     : $black40;
$input_padding          : ($space / 3);
$input_bg               : #fff;
$input_disabled_color   : #888;


// Base style
// ------------------------------------------------------------------------ //

legend {
    margin-bottom: ($space / 2);
}

// Fix small bullet on Webkit
// http://goo.gl/WgqfpM
input[type="password"] {

}

// Hide input type number spinner
// http://goo.gl/lcCQgB
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form__row {
    margin-bottom: ($space / 2);
}

.form-label {
    display: block;
    margin-top: ($space / 3);
}

.form-input {
    width: 100%;
    padding: 6px 12px;
    border: solid $input_border_size $input_border_color;
    border-radius: 3px;
    font-family: inherit;
    background: $input_bg;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    transition: all 350ms ease;

    &:focus {
        border-color: palette(black);
        outline: none;
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1),
                    0 0 2px palette(black);
    }

    &[disabled],
    &[readonly] {
        color: $input_disabled_color;
        background: rgba(#999, .1);
        cursor: not-allowed;

        // Fix iOS color for being too opaque
        -webkit-text-fill-color: $input_disabled_color;
    }

    &.input-invalid {
        border-color: palette(red);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1),
                    0 0 2px palette(red);
    }

    &.input-valid {
        border-color: palette(green);
        box-shadow: inset 0 1px 2px rgba(0,0,0,.1),
                    0 0 2px palette(green);
    }

    @at-root select#{&} {
        height: 36px;
        padding-top: 0;
        padding-bottom: 0;
        background: url(../img/select-arrow.png) right 10px center no-repeat;
        background-size: 10px;
        appearance: none;
    }
}


// Modifier
// ------------------------------------------------------------------------ //

.form-input--error {
    border-color: #d32c31;

    &:focus {
        border-color: #d32c31;
    }
}

.form-input--success {
    border-color: #4eb74a;

    &:focus {
        border-color: #4eb74a;
    }
}

.form-input--block {
    width: 100%;
}

.msg-error {
    font-size: 87.5%;
    color: palette(red);
}
