
.home-promotions {
    display: flex;
    flex-direction: column;
    margin-left: -12px;

    > * {
        padding-left: 12px;
    }

    img {
        width: 100%;
        margin-bottom: ($space / 2);
    }

    @media screen and (min-width: 40em) {
        > :last-child {
            display: flex;
            margin-left: -12px;

            > * {
                flex: 1;
                padding-left: 12px;
            }
        }
    }

    @media #{$large} {
        flex-direction: row;

        > :first-child {
            width: 60%;
        }

        > :last-child {
            display: block;
            width: 40%;
            margin-left: 0;

            > * {
                padding-left: 0;
            }
        }
    }
}

.home-promotions-small {
    object-fit: cover;

    @media #{$large} {
        height: 233.5px;
    }

    @media screen and (min-width: 70em) {
        height: 249.5px;
    }

    @media screen and (min-width: 80em) {
        height: 273.5px;
    }
}

.home-promotions-slider {

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }
}
