
.inspiration-list {
    margin-bottom: $space;
}

.inspiration-list-layout {
    margin-left: ($space * -1);
    margin-bottom: $space;

    > * {
        padding-left: $space;
    }

    @media #{$medium} {
        display: flex;
        flex-wrap: wrap;
    }

    @media #{$large} {
        flex-wrap: nowrap;
    }
}

.inspiration-list-layout-nav {
    width: 100%;

    @media #{$large} {
        flex: 0 0 200px;
        width: 200px;
    }
}

.inspiration-list-layout-content {
    flex: 1;
}

.inspiration-list-layout-archieve {
    width: 100%;

    @media #{$medium} {
        flex: 0 0 200px;
        width: 200px;
    }
}

.inspiration-list-media {
    display: flex;
    align-items: flex-start;

    time {
        font-size: 87.5%;
    }

    h2 {
        margin-bottom: 8px;
        font-size: 14px;
        text-transform: uppercase;

        @media #{$large} {
            font-size: 18px;
        }
    }

    a {
        color: currentcolor;
    }

    img {
        width: 100%;
    }
}

.inspiration-list-media-figure {
    flex: 0 0 60px;

    @media #{$large} {
        flex: 0 0 202px;
    }
}

.inspiration-list-media-content {
    flex: 1;
    margin-left: $space;
}

.inspiration-list-layout-nav {
    margin-top: -4px;

    a {
        position: relative;
        display: block;
        padding: 4px 0;
        border: solid 1px transparent;
        border-radius: 2px;
        color: currentcolor;

        &:before,
        &:after {
            position: absolute;
            top: 50%;
            left: 100%;
            display: none;
            width: 0;
            height: 0;
            border-style: solid;
            content: '';
            transform: translate(0, -50%);
        }

        &:before {
            border-color: transparent transparent transparent palette(red);
            border-width: 7px;
        }

        &:after {
            border-color: transparent transparent transparent #fff;
            border-width: 5.5px;
        }

        &.is-active {
            padding: 4px 8px;
            border-color: palette(red);
            margin: 4px 0;
            pointer-events: none;

            &:before,
            &:after {
                display: block;
            }
        }
    }
}

.inspiration-list-nav {
    display: none;
    margin-bottom: $space;

    @media #{$large} {
        display: block;
    }
}

.inspiration-list-archieve-btn {
    width: 100%;
    padding: 4px 0;
    border: 0;
    border-bottom: solid 1px palette(gray);
    font-weight: 600;
    text-align: left;
    background: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.inspiration-list-archieve {
    display: none;

    &.is-active {
        display: block;
    }

    a {
        display: block;
        padding: 4px 8px;
        color: currentcolor;
    }
}

.inspiration-list-related {
    display: flex;
    flex-wrap: wrap;
    margin-left: ($space * -1 / 2);
}

.inspiration-list-related-item {
    width: 100%;
    padding-left: ($space / 2);
    margin-bottom: ($space / 2);

    @media screen and (min-width: 25em) {
        width: 50%;
    }

    @media screen and (min-width: 40em) {
        width: 33.3%;
    }

    @media #{$large} {
        width: 20%;
    }
}

.inspiration-list-related-anchors {
    position: relative;
    display: block;
    font-weight: 600;
    line-height: 1.4;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(#222, .6);
        content: '';
    }

    &:hover,
    &:focus {
        color: #fff;

        img {
            transform: scale(1.05);
        }
    }

    img {
        width: 100%;
        transform: scale(1);
        transition: all 350ms ease;
    }

    span {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        display: block;
        width: 100%;
        padding: ($space / 1);
        transform: translate(0, -50%);
    }
}

.inspiration-list-mobile-nav {
    display: flex;
    align-items: center;
    width: 300px;
    margin-left: -8px;

    > * {
        margin-left: 8px;
    }

    @media #{$large} {
        display: none;
    }
}
