
.label {
    display: inline-block;
    vertical-align: middle;
    padding: 8px 16px;
    margin-bottom: $space;
    font-size: 87.5%;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
}

.label--red {
    background: palette(red);
}
