
.member-hero {
    position: relative;
    margin-bottom: ($space * 2);

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #ff0000, #ff9900);
        opacity: .5;
        content: '';
    }

    &:after {
        position: absolute;
        top: 8px;
        right: 8px;
        bottom: 8px;
        left: 8px;
        z-index: 1;
        border: solid 1px palette(white);
        content: '';
    }

    h1 {
        font-size: 18px;
        text-shadow: 0 2px 5px rgba(#222, .3);

        @media #{$medium} {
            font-size: 36px;
        }
    }

    h2 {
        margin-bottom: 8px;
        font-size: 16px;

        @media #{$medium} {
            font-size: 20px;
        }
    }

    img > {
        display: none;
    }

    @media #{$medium} {

        &:after {
            top: 32px;
            bottom: 32px;
            right: 32px;
            left: 32px;
            opacity: .7;
        }

        img > {
            display: block;
        }
    }
}

.membership-nav {
    display: flex;
    border: solid 1px palette(gray);
    overflow: scroll;

    @media #{$medium} {
        border: 0;
    }

    @media #{$large} {
        overflow: visible;
    }

    > a {
        position: relative;
        flex: 1;
        padding: 12px;
        border-bottom: solid 1px palette(gray);
        text-align: center;
        color: currentcolor;
        white-space: nowrap;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: palette(red);
            content: '';
            opacity: 0;
        }

        &:not(:last-child) {
            border-right: solid 1px palette(gray);
        }

        &.is-active {
            border-bottom-color: palette(red);
            color: palette(red);

            &:after {
                opacity: 1;
            }
        }

        @media #{$large} {
            padding: 12px 8px;
        }
    }
}

.member-hero-content {
    position: relative;
    z-index: 2;
    width: 95%;
    padding: $space;
    margin: 0 auto;
    text-align: center;
    color: #fff;

    @media #{$medium} {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.member-benefits {

    .slick-active {
        position: relative;

        + .slick-active:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 100%;
            background: palette(gray);
            content: '';
        }
    }

    .slick-prev {
        left: 0;
    }

    .slick-next {
        right: 0;
    }
}

.member-benefit {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: $space 0 ($space * 2);

    &:after {
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border-color: transparent transparent #ededed transparent;
        border-style: solid;
        border-width: 16px;
        content: '';
        transform: translate(-50%, 0);
        opacity: 0;
        pointer-events: none;
    }

    &.is-active:after {
        opacity: 1;
    }
}

.member-benefit-panel {
    display: none;
    padding: $space;
    color: #222;
    background: #ededed;
}

.step-to-be-member {
    display: flex;
    counter-reset: stepToMember;
    margin-left: ($space * -1);

    li {
        flex: 1;
        display: flex;
        align-items: center;
        padding-left: $space;
        margin-bottom: $space;
        line-height: 1.2;
        counter-increment: stepToMember;

        &:before {
            flex: 0 0 40px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 16px;
            font-weight: 700;
            text-align: center;
            line-height: 40px;
            color: #fff;
            background: palette(blackLight);
            content: counter(stepToMember);
        }
    }
}

.m-voucher-list {
    padding: 0;
    list-style: none;
}

.voucher {
    display: flex;
    flex-direction: column;
    border: solid 1px palette(gray);

    @media #{$medium} {
        flex-direction: row;
    }
}

.voucher-left,
.voucher-right {
    padding: $space;
}

.voucher-left {
    position: relative;
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    color: #fff;
    background: palette(redDark);

    @media #{$medium} {
        flex: 0 0 300px;
    }
}

.voucher-value {
    position: relative;
    font-size: 54px;
    font-weight: 700;
    line-height: 1;

    &:before {
        position: absolute;
        right: 100%;
        bottom: 6px;
        font-size: 16px;
        font-weight: 400;
        content: attr(data-prefix);
    }

    &:after {
        position: absolute;
        bottom: 100%;
        left: 0;
        display: block;
        font-weight: 400;
        font-size: 16px;
        content: attr(data-label);
        white-space: nowrap;
    }
}

.voucher-point {
    position: absolute;
    right: 16px;
    bottom: 16px;
    left: 16px;
    padding: 4px;
    font-weight: 700;
    text-align: center;
    color: palette(redDark);
    background: #fff;
}

.voucher-right {
    flex: 1;

    > :last-child {
        margin-bottom: 0;
    }
}

.member-registration-steps {
    position: relative;
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto $space;

    &:before {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 1px;
        background: palette(grayDark);
        content: '';
        transform: translate(0, -50%);
    }
}

.member-registration-step {
    position: relative;
    z-index: 2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 ($space / 2);
    font-weight: 700;
    text-align: center;
    line-height: 40px;
    color: palette(white);
    background: palette(grayDark);

    &.is-active {
        background: palette(red);
    }
}

.membership-layout {
    display: flex;
    flex-direction: column;
    border-top: solid 1px palette(gray);

    @media #{$medium} {
        flex-direction: row;
    }
}

.membership-layout-sidebar {
    padding: $space 0;

    @media #{$medium} {
        flex: 0 0 200px;
        width: 200px;
        padding: ($space / 2);
        border-right: solid 1px palette(gray);
    }

    @media #{$large} {
        flex: 0 0 260px;
        width: 260px;
        padding: $space;
    }
}

.membership-layout-body {
    flex: 1;
}

.membership-layout-content {
    padding: ($space * 1) 0;

    @media #{$medium} {
        padding: $space ($space * 2);
    }
}

.merchant-filter {
    display: flex;
    // flex-direction: column;
    margin-left: ($space * -1);

    @media screen and (min-width: 40em) {
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
    }

    margin-bottom: $space;
}

.merchant-filter-item {
    display: flex;
    flex-direction: column;
    padding-left: $space;

    @media screen and (min-width: 40em) {
        align-items: center;
        flex-direction: row;
    }

    label {
        margin-right: 8px;
    }

    select {
        width: 130px;
    }
}
