
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background: rgba(#222, .7);
    opacity: 0;
    transition: all 350ms ease;
    pointer-events: none;

    &.is-active {
        opacity: 1;
        pointer-events: auto;
    }
}

.modal-dialog {
    position: relative;
    width: 95%;
    max-width: 600px;
    padding: $space;
    margin: ($space * 3) auto;
    background: #fff;
}

.modal-dialog-close {
    position: absolute;
    bottom: 100%;
    right: 0;
    padding: 0;
    border: 0;
    margin-bottom: ($space / 2);
    text-transform: uppercase;
    color: palette(white);
    background: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}
