
.nav {
    position: absolute;
    top: 0;
    right: 100%;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 100vh;
    padding: ($space * 2) 0 $space;
    border-right: solid 3px palette(black);
    background: #fff;
    text-align: center;
    pointer-events: none;
    transform: translate(0, 0);
    transition: all 350ms ease;

    &.is-active {
        transform: translate(100%, 0);
        pointer-events: auto;
    }

    @media #{$large} {
        position: static;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
        height: auto;
        padding: 0;
        border-right: 0;
        text-align: left;
        pointer-events: auto;

        &.is-active {
            transform: translate(0, 0);
        }
    }
}

.nav-list {
    display: flex;
    flex-direction: column;

    @media #{$large} {
        flex-direction: row;
    }
}

.nav-list-item {
    &:not(:last-child) {
        border-bottom: solid 1px palette(gray);
    }

    @media #{$large} {
        margin-left: ($space * 1.2);
        &:not(:last-child) {
            border-bottom: 0;
        }

        &.hidden-large {
            display: none;
        }
    }
}

.nav-anchor {
    display: block;
    padding: 8px;
    font-weight: 600;
    text-transform: uppercase;
    color: currentcolor;

    @media #{$large} {
        padding: 0;
    }
}

.nav-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    height: 36px;
    padding: 0;
    border: 0;
    font-size: 18px;
    color: #fff;
    background: palette(red);
    cursor: pointer;

    &:focus {
        outline: none;
    }

    @media #{$large} {
        display: none;
    }
}
