
/*ul|ol*/.pagination {
    padding: 0;
    margin: 0 0 $space 0;
    list-style: none;
    text-align: center;
    user-select: none;

    li {
        display: inline-block;
    }

    a {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        line-height: 35px;
        text-align: center;
        color: #666;
        background: #eee;

        &:hover,
        &:focus,
        &.active {
            border-color: #555;
        }

        &.active {
            color: #fff;
            background: palette(red);
            cursor: default;
            pointer-events: none;
        }
    }
}
