
$progressHeight: 8px;

.progress {
    position: relative;
    width: 100%;
    height: $progressHeight;
    margin-bottom: ($space * 1.5);

    &:before {
        position: absolute;
        top: 100%;
        left: 0;
        content: attr(data-min);
    }

    &:after {
        position: absolute;
        top: 100%;
        right: 0;
        content: attr(data-max);
    }
}

.progress-track {
    height: 100%;
    border-radius: 10px;
    background: palette(gray);
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 10px;
    background: palette(red);
    transition: all 350ms ease;
}
