
.promotion {
    position: relative;
    left: 50%;
    width: 100vw;
    color: #222;
    transform: translate(-50%, 0);

    &:before,
    &:after {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        content: '';
    }

    &:before {
        z-index: 2;
        display: none;
        width: 50%;
        background: linear-gradient(to right, rgba(0,0,0,.6) 40%, rgba(255, 255, 255, 0));

        @media #{$large} {
            display: block;
        }
    }

    &:after {
        z-index: 1;
        display: none;
        width: 100%;
        background: linear-gradient(to right, #ff0000, #ff9900);
        opacity: .7;
    }

    &.is-active:after {
        @media #{$large} {
            display: block;
        }
    }

    @media #{$large} {
        color: #fff;
    }
}

.promotion-banner {
    display: none;
    width: 100%;

    @media #{$large} {
        display: block;
    }
}

.promotion-body {

    @media #{$large} {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 3;
        width: 100%;
        height: 80%;
        transform: translate(0, -50%);

        .container {
            display: flex;
            align-items: center;
            height: 100%;
        }
    }
}

.promotion-navs {
    display: flex;

    @media #{$large} {
        flex-direction: column;
        flex: 0 0 250px;
        width: 250px;
    }
}

.promotion-nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 4px;
    border-bottom: solid 2px #fff;
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    color: currentcolor;

    &:hover,
    &:focus {
        color: currentcolor;
    }

    &.is-active {
        border-bottom-color: palette(orange);
        color: palette(orange);
    }

    @media #{$large} {
        display: block;
        padding: 0;
        border: 0;
        font-size: 14px;
        font-weight: 700;
        text-align: left;

        &:not(:last-child) {
            margin-bottom: ($space / 2);
        }
    }
}

.promotion-content {
    flex: 1;
    max-height: 100%;
    overflow: auto;
}

.promotion-btn {
    display: inline-block;
    padding: 4px 12px;
    border: solid 1px currentcolor;
    text-transform: uppercase;
    color: currentcolor;
    background: none;
    cursor: pointer;

    &:hover,
    &:focus {
        color: currentcolor;
        background: rgba(255, 255, 255, .3);
    }
}

.promotion-content-section {
    padding: $space 0;
    display: none;

    &.is-active {
        display: block;
    }

    @media #{$large} {
        padding: 0;
    }
}

.member-promos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: ($space * -1);

    @media #{$medium} {
        flex-direction: row;
    }
}

.member-promos-item {
    width: 100%;
    padding-left: ($space * 1);
    margin-bottom: $space;
}

.member-promos-item--big {
    @media #{$large} {
        flex: 0 0 30%;
        width: 30%;
    }
}

.member-promos-item--small {
    @media #{$large} {
        flex: 23.3%;
        width: 23.3%;
    }
}

.member-promo {
    position: relative;
    padding: ($space / 2);
    border: solid 1px palette(gray);
    margin-bottom: ($space / 2);
    text-align: center;
    background: transparent;

    &:before {
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        left: 4px;
        z-index: -1;
        background: #fff;
        content: '';
    }

    @media #{$medium} {

        img {
            width: 50px;
        }
    }

    @media #{$large} {
        border-color: #fff;
        color: palette(red);

        img {
            width: auto;
        }
    }
}

.member-promo--intro {
    padding-top: ($space * 3);
    padding-bottom: ($space * 3);
}

.member-promo--circle {
    width: 50%;
    height: 0;
    padding: 0;
    padding-bottom: 50%;
    border-radius: 50%;
    margin: 0 auto;

    &:before {
        border-radius: 50%;
    }

    > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media #{$large} {
        width: auto;
        padding-bottom: 100%;
        margin: auto;
    }
}

.promotion-product {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 2px;
    margin-left: ($space * -1);

    > * {
        flex: 1;
        padding-left: $space;
    }

    @media #{$medium} {
        align-items: center;
    }

    @media #{$large} {
        flex-direction: row;
    }
}

.promotion-product-btn {
    display: inline-block;
    padding: ($space / 2) $space;
    border: solid 1px palette(white);
    border-radius: 10px;
    color: palette(black);
    background: palette(white);
}

.promotion-product-slider {

    .slick-arrow {
        top: 150px;
        width: 40px;
        height: 40px;
        color: transparent;

        &:before {
            display: block;
            font-family: 'FontAwesome';
            text-align: center;
            color: #222;
        }
    }

    .slick-prev {
        left: 0;

        &:before {
            content: "\f053";
        }
    }

    .slick-next {
        right: 0;

        &:before {
            content: "\f054";
        }
    }

    @media #{$large} {
        margin: 0 ($space * 2);

        .slick-arrow {
            top: 50%;
        }

        .slick-arrow:before {
            color: #fff;
        }

        .slick-prev {
            left: auto;
            right: 100%;
        }

        .slick-next {
            right: auto;
            left: 100%;
        }
    }
}

.promotion-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: rgba(#222, .8);
    opacity: 0;
    pointer-events: none;
    transition: all 350ms ease;

    &.is-active {
        opacity: 1;
        pointer-events: auto;
    }
}

.promotion-popup-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 95%;
    max-width: 800px;
    transform: translate(-50%, -50%);
}

.promotion-popup-btn {
    padding: 0;
    border: 0;
    margin-bottom: 4px;
    color: #fff;
    background: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.promotion-banner-mobile {
    width: 100%;

    @media #{$large} {
        display: none;
    }
}
