
.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: $space * -1;

    > li {
        width: 100%;
        padding-left: $space;
        margin-bottom: $space;

        @media screen and (min-width: 30em) {
            width: 50%;
        }

        @media #{$large} {
            width: 33.3%;
        }
    }
}

.product-item-anchor {
    color: currentcolor;

    &:hover,
    &:focus {
        color: currentcolor;
    }
}

.product-item {

    img {
        width: 100%;
        margin-bottom: ($space / 2);
    }

    h3 {
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    figcaption {

        > :last-child {
            margin-bottom: 0;
        }
    }
}
