
.product-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: ($space * -3);
    margin-bottom: $space;

    > * {
        padding-left: ($space * 3);
    }

    @media #{$large} {
        flex-direction: row;
    }
}

.product-detail-article {

    h1 {
        margin-bottom: 8px;
        font-size: 22px;

        @media #{$medium} {
            font-size: 34px;
        }
    }

    time {
        display: inline-block;
        margin-bottom: $space;
        font-size: 87.5%;
    }
}

.product-detail-aside {

    @media #{$large} {
        position: sticky;
        top: 120px;
        flex: 0 0 350px;
        width: 350px;
    }
}

.product-detail-related {
    display: flex;
    margin-left: -12px;
    margin-bottom: $space;

    a {
        flex: 1;
        padding-left: 12px;
        line-height: 1.4;
        color: currentcolor;

        &:hover,
        &:focus {
            color: currentcolor;
        }
    }

    img {
        width: 100%;
        margin-bottom: 8px;
    }

    time {
        display: block;
        margin-bottom: 4px;
        font-size: 87.5%;
    }
}

.product-detail-related-products {
    display: flex;
    flex-wrap: wrap;
}

.product-detail-related-products-item {
    flex: 0 0 100%;
    width: 100%;
    padding: $space;
    border: solid 1px palette(gray);
    margin-top: -1px;

    p {
        line-height: $space;
        height: $space * 2;
        overflow: hidden;
    }

    img {
        display: table;
        margin-right: auto;
        margin-left: auto;
    }

    @media screen and (min-width: 30em) {
        flex: 0 0 50%;
        width: 50%;
        margin-left: -1px;
    }

    @media screen and (min-width: 75em) {
        flex: 0 0 25%;
        width: 25%;
    }
}

.product-detail-share {

    h4 {
        margin-bottom: 8px;
    }
}
