
.section-category-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $space;

    > li {
        width: 100%;

        @media screen and (min-width: 30em) {
            width: 50%;
        }

        @media #{$medium} {
            width: 33.3%;
        }

        @media #{$large} {
            width: 25%;
        }
    }

    a {
        display: flex;
        align-items: center;
        padding: ($space / 1.5) 0;
        padding-right: $space;
        border-bottom: solid 1px lighten(palette(gray), 5%);
        line-height: 1;
        white-space: nowrap;
        color: currentcolor;

        img {
            margin-right: 8px;
        }
    }
}
