
.section-inspirations {
    display: flex;
    flex-direction: column;
    margin-left: -12px;

    img {
        width: 100%;
        margin-bottom: 12px;
    }

    > * {
        padding-left: 12px;
    }

    @media #{$medium} {
        flex-direction: row;
    }
}

.section-inspiration-big {
    @media #{$medium} {
        width: 40%;
    }
}

.section-inspiration-small {
    display: flex;
    margin-left: -12px;

    > * {
        flex: 1;
        padding-left: 12px;
    }

    @media #{$medium} {
        display: block;
        width: 20%;
        margin-left: 0;

        > * {
            padding-left: 0;
        }
    }
}
