
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px palette(gray);


    @media #{$large} {
        .container {
            position: relative;
        }

        .flash-msg + .sticky-footer-container & {
            top: 30px;
        }
    }
}

.site-header-nav-trigger,
.site-header-search-trigger {
    position: absolute;
    top: ($space / 2);
    width: 30px;
    height: 30px;
    padding: 0;
    border: 0;
    font-size: 20px;
    color: palette(grayDark);
    background: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    @media #{$large} {
        display: none;
    }
}

.site-header-nav-trigger {
    left: ($space / 2);
}

.site-header-search-trigger {
    right: ($space / 2);

    .fa:before {
        content: '\f002';
    }

    &.is-active .fa:before {
        content: '\f00d';
    }
}

.site-header-tops {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: ($space / 2) 0;

    @media #{$large} {
        justify-content: space-between;
    }
}

.site-logo {

    img {
        width: 70px;
    }

    @media #{$large} {
        img {
            width: 85px;
        }
    }
}

.site-search {
    position: absolute;
    top: 50%;
    left: 0;
    display: none;
    width: 100%;
    padding: 8px;
    background: #fff;
    transform: translate(0, -50%);

    &.is-active {
        display: flex;
    }

    @media #{$large} {
        position: relative;
        top: auto;
        display: block;
        width: 400px;
        padding: 0;
        margin-right: $space;
        transform: translate(0, 0);
    }
}

.site-search-btn {
    position: absolute;
    top: 0;
    right: 50px;
    height: 100%;
    border: 0;
    color: currentcolor;
    background: none;
    cursor: pointer;

    @media #{$large} {
        right: 8px;
    }
}

.site-search-close {
    width: 40px;
    padding: 0;
    border: 0;
    color: currentcolor;
    background: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    @media #{$large} {
        display: none;
    }
}

.site-header-supports {
    display: flex;
    align-items: center;
}

.site-header-support {
    display: none;
    align-items: center;
    margin-left: $space;
    font-size: 12px;
    color: currentcolor;

    img {
        margin-right: 8px;
    }

    @media #{$large} {
        display: inline-flex;
    }
}
