
.slider-style {
    position: relative;
    display: none;

    .slick-arrow {
        position: absolute;
        top: 50%;
        z-index: 2;
        padding: 0;
        border: 0;
        background: none;
        cursor: pointer;
        transform: translate(0, -50%);

        &:focus {
            outline: none;
        }
    }
}

.slider-style--primary {
    .slick-arrow {
        width: 30px;
        height: 60px;
        font-size: 14px;
        color: palette(black);
        overflow: hidden;

        &:before,
        &:after {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 0;
            height: 100%;
            border-style: solid;
            border-width: 30px;
            content: '';
            background: none;
            pointer-events: none;
        }

        &:hover {
            color: palette(red);
        }

        > * {
            position: relative;
            z-index: 2;
        }

        @media #{$medium} {
            width: 50px;
            height: 100px;
            font-size: 20px;

            &:before,
            &:after {
                border-width: 50px;
            }
        }
    }

    .slick-prev {
        left: 0;
        text-indent: -5px;

        &:before {
            left: 1px;
            border-color: transparent transparent transparent palette(gray);
        }

        &:after {
            left: 0;
            border-color: transparent transparent transparent white;
        }

        @media #{$medium} {
            text-indent: -10px;
        }
    }

    .slick-next {
        right: 0;
        text-indent: 5px;

        &:before {
            right: 1px;
            border-color: transparent palette(gray) transparent transparent;
        }

        &:after {
            right: 0;
            border-color: transparent white transparent transparent;
        }

        @media #{$medium} {
            text-indent: 10px;
        }
    }
}
