
.social-wall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -8px;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;

    img {
        width: 100%;
    }

    @media #{$large} {
        flex-direction: row;
        max-width: none;
        margin-left: -8px;
    }
}

.social-wall-item {
    flex: 1;
    padding-left: 8px;
}

.social-wall-item--main {
    order: -1;
    width: 100%;

    a {
        position: relative;
        display: block;
        margin-bottom: 8px;

        &:hover .anchor-content,
        &:focus .anchor-content {
            opacity: 1;
        }
    }

    .anchor-content {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #fff;
        background: rgba(#222, .4);
        opacity: 0;
        transition: all 350ms ease;
    }

    @media #{$large} {
        order: 0;
        flex: 0 0 40%;
        width: 40%;
    }
}

.social-wall-item--photos {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;

    > * {
        width: 50%;
        padding-left: 8px;
        margin-bottom: 8px;
    }

    @media #{$large} {
        flex: 0 0 30%;
        width: 30%;
    }
}
