
.social-medias {

}

.social-media {
    display: inline-block;
    margin-bottom: 8px;
    font-size: 20px;
    color: currentcolor;

    &:hover,
    &:focus {
        color: currentcolor;
    }

    &:not(:last-child) {
        margin-right: 4px;
    }

    &.\--fb { color: brand(fb); }
    &.\--tw { color: brand(tw); }
    &.\--ig { color: brand(ig); }
    &.\--gp { color: brand(gp); }
    &.\--yt { color: brand(yt); }
    &.\--wa { color: brand(wa); }
}
