
.store-location {
    position: relative;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, 0);
}

.store-location-map {
    height: 500px;
    margin-bottom: $space;
    background: #eee;
}

.store-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: ($space * -1);
}

.store-list-item {
    flex: 0 0 100%;
    width: 100%;
    padding-left: $space;
    margin-bottom: $space;

    @media screen and (min-width: 40em) {
        flex: 0 0 50%;
        width: 50%;
    }

    @media #{$large} {
        flex: 0 0 33.3%;
        width: 33.3%;
    }
}

.store-location-filter {
    position: absolute;
    top: $space;
    left: 0;
    z-index: 2;
    width: 100%;

    .container {
        display: flex;
        flex-direction: column;

        @media #{$medium} {
            flex-direction: row;
            align-items: stretch;
        }
    }
}

.store-location-regions {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: ($space / 2);
    margin-bottom: ($space / 2);
    background: #fff;

    @media #{$medium} {
        flex: 0 0 280px;
        width: 280px;
        margin-bottom: 0;
    }
}

.store-location-regions-toggle {
    width: 50px;
    height: 32px;
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &.is-active .fa {
        transform: rotate(180deg);
    }
}

.store-location-regions-content {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    width: 100%;
    padding: ($space / 2);
    border-top: solid 1px palette(gray);
    background: #fff;
    opacity: 0;
    transition: all 350ms ease;
    pointer-events: none;

    &.is-active {
        opacity: 1;
        pointer-events: auto;
    }
}

.store-location-regions-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 300px;
    margin-left: ($space / 2 * -1);
    overflow: scroll;
    -webkit-overflow-scrolling: touch;


    > li {
        flex: 0 0 50%;
        padding-left: ($space / 2);
        margin-bottom: ($space / 2);
    }
}

.store-location-search {
    flex: 1;
    position: relative;
    padding: ($space / 2);
    background: #fff;

    .awesomplete {
        width: 100%;
    }

    .fa {
        position: absolute;
        top: 50%;
        right: $space;
        transform: translate(0, -50%);
    }

    @media #{$medium} {
        margin-left: $space;
    }
}
