
.table-wrapper {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

    @media #{$large} {
        overflow: visible;
    }
}

.table {
    font-size: 87.5%;
    white-space: nowrap;

    @media #{$large} {
        font-size: 100%;
    }

    tbody {

        tr:nth-child(even) {
            background: palette(grayLight);
        }
    }

    th {
        text-transform: uppercase;
        color: palette(white);
        background: palette(blackLight);
    }

    th,
    td {
        padding: ($space / 2);
        border: solid 1px palette(gray);
    }

    .row-highlighted {
        color: palette(white);
        background: #FD7E7B;
    }
}
