
.toggler {
    display: inline-flex;
    align-items: center;

    > :not(:first-child) {
        margin-left: ($space / 2);
    }
}

.toggler-icon {
    cursor: pointer;

    &:before {
        font-size: 30px;
        content: '\f204';
    }

    .toggler-input:checked + &{
        color: palette(green);

        &:before {
            content: '\f205';
        }
    }
}
