
.tooltip {
    position: relative;
    cursor: pointer;

    &:before,
    &:after {
        opacity: 0;
        pointer-events: none;
    }

    &:before {
        position: absolute;
        bottom: 100%;
        left: 50%;
        z-index: 1;
        width: 0;
        height: 0;
        border-color: lighten(palette(black), 10%) transparent transparent transparent;
        border-style: solid;
        border-width: 10px;
        transform: translate(-50%, 0);
        content: '';
    }

    &:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        z-index: 1;
        width: 200px;
        padding: 8px;
        font: 400 12px $base_font_family;
        color: palette(white);
        background: lighten(palette(black), 10%);
        transform: translate(-50%, -16px);
        content: attr(data-tooltip);
    }

    &:hover:before,
    &:hover:after {
        opacity: 1;
    }
}
