
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}



html {
    font-family: LasiverMedium;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.social-media:not(:last-child) {
    margin-right: 15px;
}

.store-location-regions-list {
  background-color:#5C2D93;
}

.store-location-regions-content{
  background-color: #5C2D93;
}

.store-location-regions {
  background-color: #5C2D93;
  color: #fff;
  border-radius: 30px;
}
  
.multiple-items2 a:hover{
   color: #fff;
   text-decoration: none;
}


.slick-list img{
  height: auto;
}

.multiple-items2-product .slick-list{
  max-height: 500px;
}

.social-media.\--fb{
  color: #5C2D93;
}

.social-media.\--tw {
    color: #5C2D93;
}

.social-medias a:hover{
  color: #FF22BF;
  text-decoration: none;
}

.store-location-search .form-input {
  background:#5C2D93;
  color: #fff;
  border:none;
  box-shadow: none;
}
.container_katering_service {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 91%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.container_event {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px auto;
    position: relative;
    text-align: center;
    width: 83%;
}

.padding_kategori_event{
   padding-left: 5%;
}

.container_event2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.container_promo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.container_filter_promo{
  width: 83%;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100%;
    background: #5C2D93;
    -webkit-box-shadow: 0 0 0px;
    box-shadow: 0 0 0px ;
}

.site-header-support{
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  font-family: LasiverBold
}

.site-header-support2{
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  font-family: LasiverBold
}



.site-logo img {
    width: 145px;
}

.fa-fw {
    color: #fff;
}
.featured-brands a{
  border:none;
}

.featured-brands img{
  filter: none;
  -webkit-filter: none;
}


.menu_selected{
  background-color: #FF22BF;border-radius: 15px;padding-top: 5%;padding-bottom: 5%;padding-left: 10px;padding-right: 10px;
}

.menu_selected2{
  color: #FF22BF;
}



.section-ingredients-big{
  width: 100%;
}

.footer-area{ 
  padding:0px;
  margin:0px;   
  background-image: url('../img/footer.png') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; 
  background-size: 150%;
  z-index:3;
}

/*.area-diary{ 
  padding:0px;
  margin:0px;   
  background-image: url('../img/bg_diary.jpg') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; 
  background-size: 150%;
  z-index:3;
}*/

.about-area{ 
  padding:0px;
  margin:0px;   
  /*background-image: url('../img/bg-aboutus.png') !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; 
  background-size: 100% 100%;
  z-index:3;*/
}

.section-inspiration-medium{
    width: 30%;
  }

  .section-inspiration-big{
    width: 49.2%;
  }

  .section-sub-inspiration-big{
    width: 100%;
  }

  .section-sub-inspiration-big2{
    width: 100%;
  }

   .area-menu{ 
    margin-top: -5.5em;
  }

  .text_mobile_app {
    position: absolute;
    top: 65%;
    text-align: center;
    width: 85%;
    margin-left: 4%;
    margin-top: 5%;
  }

 

  .phone_home{
    width: 15%;
    text-align: center;
    position: absolute;
    margin-left: 79%;
    top: -1.3em;

  }

  .phone_home_right{
    width: 15%;
    text-align: center;
    position: absolute;
    margin-left: 86%;
    top: -0.7em;

  }

  .header_ingredents{
    color: #5D2E96;
    font-weight: bold;
    font-size: 15px;
  }

  
  .footer .container.has-border {
    position: absolute;
    top: 0.6em;
    margin-left: 10%;
    border-top: none;
  }


  .thumbnail_produk_katering_list {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #fff;
}

  .thumbnail_produk_katering_list img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    width: 100%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }


.thumbnail_promo {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

 .thumbnail_promo img {
    width: 100%;
  }

  .container_list_promo{
    border-radius: 10px;
    padding-left: 0px;padding-right: 0px;border:1px solid #ddd;-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 7px rgba(0, 0, 0, .175);width: 27%;margin-left: 10px;margin-right: 10px;
    margin-bottom: 1.5%;

  }



@media screen and (min-width: 64em){

  .area-menu{ 
    margin-top: -89px;
  }

  .rectangle{
    
    position: absolute;
    top: 96em;
    width: 74%;
    margin-left: 14%;

  }
  .footer .container.has-border{
        position: absolute;
        top:0.6em;
        margin-left: 10%;
        border-top: none;
    }

  .store-location-filter{
    position: fixed;
    top: -67px
  }
  .store-location-regions {
    background-color: #5C2D93;
    color: #fff;
    border-radius: 30px;
  }

  .store-location-search {
    background-color: #5C2D93;
    color: #fff;
    border-radius: 30px;
  }

	.site-main {
    	padding-top: 66px;
    	overflow-x: hidden;
	}

	.site-logo img {
    	width: 180px;
	}

  .section-inspiration-medium{
    width: 30%;
  }

  .section-inspiration-big{
    width: 49.2%;
  }

  .section-sub-inspiration-big{
    width: 50%;
  }

  .section-sub-inspiration-big2{
    width: 50%;
  }

  .text_mobile_app{
    position: absolute;
    text-align: center;
    width: 33%;
    margin-left: 4%;
    margin-top: -6.2%;
  }

  .text_insp_gede{
    position: absolute;
    width: 50%;
    margin-left: 4%;
    margin-top: 3%;
  }

  .title_gede{
    color: #fff;font-size: 30px;margin-bottom: 1%;font-weight: bold;width: 30%;line-height: 30px;
    font-family: LasiverBlack
  }

  .desc_gede{
    color: #fff;font-size: 20px;margin-bottom: 2%;text-align: left;width: 48%
  }

  .more_button_gede{
    color: #fff;font-size: 17px;border-radius: 20px;background-color: #5DD859;width: 150px;
                margin-left: 0%;padding-top: 2%;padding-bottom: 2%;font-weight: bold;text-align: center;
  }


  .text_insp_kecil{
    position: absolute;
    width: 50%;
    margin-left: 4%;
    margin-top: 3%;
  }

  .title_kecil{
    color: #fff;font-size: 30px;margin-bottom: 1%;font-weight: bold;width: 30%;line-height: 30px;
    font-family: LasiverBlack
  }

  .desc_kecil{
    color: #fff;font-size: 20px;margin-bottom: 3%;text-align: left;width: 35%
  }

  .more_button_kecil{
    color: #fff;font-size: 17px;border-radius: 20px;background-color: #5DD859;width: 150px;
                margin-left: 0%;padding-top: 2%;padding-bottom: 2%;font-weight: bold;text-align: center;
  }

  .phone_home{
    width: 15%;
    text-align: center;
    position: absolute;
    margin-left: 79%;
    top: -4.8em;

  }

  .phone_home_right{
    width: 15%;
    text-align: center;
    position: absolute;
    margin-left: 86%;
    top: -3em;

  }

  .our_menu{
    position: absolute;top:20%;text-align: center;width: 100%;
  }

  .list_our_menu{
    position: relative;display: flex;text-align: center;width: 100%;top: 23%;float: left;
  }

  .list_item_menu_home{
    margin-left: auto;margin-right: auto;position: relative;width: 12%;text-align: center;
  }

  .our_menu_content{
    /*background: #d2d6de url('../img/background.png') no-repeat;
    background-position: center;  
    background-size: 100%;
*/
    /*background-color:#fff;*/ 
    height: auto;
    width: 100%;


  }


  .slick-prev, .slick-next {
    background-color: #000;
  }
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}



@media screen and (min-width: 100em){

  .text_insp_kecil{
    position: absolute;
    width: 50%;
    margin-left: 2%;
    margin-top: 3%;
  }

  .list_item_menu_home{
    margin-left: auto;margin-right: auto;position: relative;width: 12%;text-align: center;
  }

  .list_our_menu{
    position: absolute;display: flex;text-align: center;width: 100%;top: 25%
  }

  .our_menu{
    position: absolute;top:22%;text-align: center;width: 100%;
  }

.area-menu {
    margin-top: -114px;
}

 .phone_home{
    width: 15%;
    text-align: center;
    position: absolute;
    margin-left: 79%;
    top: -6.8em;

  }

  .phone_home_right{
    width: 15%;
    text-align: center;
    position: absolute;
    margin-left: 86%;
    top: -4.2em;

  }g

.text_insp_kecil{
    position: absolute;
    top: 40%;
    width: 33%;
    margin-left: 2%;
    margin-top: 5%;
  }

.text_insp_gede {
    position: absolute;
    top: 40%;
    width: 28%;
    margin-left: 2%;
    margin-top: 5%;
}

.title_gede{
  color: #fff;font-size: 30px;margin-bottom: 1%;font-weight: bold;width: 25%;line-height: 30px;
}

.desc_gede{
  color: #fff;font-size: 20px;margin-bottom: 2%;text-align: left;width: 48%
}

.more_button_gede{
  color: #fff;font-size: 17px;border-radius: 20px;background-color: #5DD859;width: 200px;
              margin-left: 0%;padding-top: 2%;padding-bottom: 2%;font-weight: bold;text-align: center;
}


 .title_kecil{
    color: #fff;font-size: 30px;margin-bottom: 1%;font-weight: bold;width: 25%;line-height: 30px;
  }

  .desc_kecil{
    color: #fff;font-size: 20px;margin-bottom: 2%;text-align: left;width: 40%
  }

  .more_button_kecil{
    color: #fff;font-size: 17px;border-radius: 20px;background-color: #5DD859;width: 200px;
                margin-left: 0%;padding-top: 1%;padding-bottom: 1%;font-weight: bold;text-align: center;
  }

.footer .container.has-border {
    position: absolute;
    top: 0.6em;
    margin-left: 19%;
    border-top: none;
}

.rectangle{
    
    position: absolute;
    top: 128em;
    width: 74%;
    margin-left: 14%;

  }

  .text_mobile_app{
    position: absolute;
    top: 62%;
    text-align: center;
    width: 23%;
    margin-left: 4%;
    margin-top: 5%;
  }


}


@media only screen and (min-width: 1000px) {

  .mobile-view{
      display: none;
    }

    .mobile-hide{
    display: inline;
  }

}

@media only screen and (min-width: 780px) {

  .mobile-view{
      display: none;
    }

    .mobile-hide{
    display: inline;
  }
}

@media only screen and (min-width: 760px) and (max-width: 780px) {

  .mobile-view{
      display: inline;
    }

    .mobile-hide{
    display: none;
  }
}

@media screen and (min-width: 1920px){

  .mobile-hide{
    display: inline;
  }

  .mobile-view{
    display: none;
  }
  
  .multiple-items2-product .slick-list{
    max-height: 700px;
  }

}

@media screen and (min-width: 1360px) and (max-width: 1450px) {


  .mobile-hide{
    display: inline;
  }

  .mobile-view{
    display: none;
  }

 
}

@media screen and (min-width: 1500px) and (max-width: 1920px) {

  .mobile-hide{
    display: inline;
  }

  .mobile-view{
    display: none;
  }

 

}

@media only screen and (min-width: 320px) and (max-width: 350px) {

  .footer_subscribe{
    position: absolute;
    top: 6em;
    color: #fff;
    font-weight: bold;
    margin-left: 62%;
    font-size: 15px
  }

  .footer_green_button{
    
    position: absolute;
    top: 6.1em;
    width: 89px;margin-left: 59%;

   }

   .footer_textbox_subscribe{
    position: absolute;
    top: 5.8em;
    margin-left: 12%;
    color: #5C2D93;
    font-size: 15px;
    border: none; 

   }

   .footer_mail_subscribe{
    position: absolute;top:6.3em;margin-left: 2%;
    
   }

   .footer_container_subscribe{
    margin-top: 0%;width: 85%;margin-left: 6%
   }

  .container_list_promo{
    width: 47%;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2%;
  }

  .container_katering_service{
    width: 100%;
  }

  .mobile-hide{
    display: none;
  }

  .mobile-view{
    display: inline;
  }

  .ins{
    margin-top: 10em;
  }

  .rectable_download_app{
    width: 100%;
    text-align: right;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 0%;
  }

  .rectable_free{
    width: 100%;
    text-align: right;
    color: #fff;
    font-size: 9px;
    margin-bottom: 2%;  
  }

  .rectangle {
    position: absolute;
    top: 40em;
    width: 96%;
    margin-left: 2%;
  }

  .menu_our_menu{
    position: absolute;
    top: 31em;
    margin-left: 2em;
    width: 86%;
  }



  .text_mainbanner_gede{
    /*position: absolute;
    top: 0%;
    width: 100%;
    margin-top: 5%;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;font-size: 30px;
    font-weight: bold;
  }

 /* .centered {
  
 }*/


  .title_mainbanner{
    color: #fff;font-size: 30px;margin-bottom: 1%;font-weight: bold;width: 86%;line-height: 30px;text-align: center;
     margin-left: auto;margin-right: auto;position: relative;
  }

  .desc_mainbanner{
    color: #fff;font-size: 18px;margin-bottom: 2%;text-align: left;width: 95%;text-align: center;
    margin-left: auto;margin-right: auto;position: relative;
  }

  .more_button_mainbanner{
    color: #fff;font-size: 15px;border-radius: 20px;background-color: #5DD859;width: 25%;
                margin-left: 0%;padding-top: 2%;padding-bottom: 2%;font-weight: bold;text-align: center;
                margin-left: auto;margin-right: auto;position: relative;
  }


  .text_mainbanner_gedebgt{
    position: absolute;
    top: 0%;
    width: 90%;
    margin-top: 5%;
  }

  .title_gedebgt{
    color: #fff;
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
    width: 57%;
    line-height: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .desc_gedebgt{
    color: #fff;
    font-size: 10px;
    margin-bottom: 2%;
    text-align: left;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .more_button_gedebgt{
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
    background-color: #5DD859;
    width: 45%;
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }


  .text_mainbanner_openstore{
    position: absolute;
    top: 63%;
    width: 89%;
    margin-top: 5%;
    margin-left: 5%;
  }

  .title_openstore{
    color: #fff;
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
    width: 57%;
    line-height: 20px;
    text-align: left;
    
  }

  .desc_openstore{
    color: #fff;
    font-size: 10px;
    margin-bottom: 2%;
    text-align: left;
    width: 50%;
    text-align: left;
    
  }

  .more_button_openstore{
    color: #fff;
    font-size: 13px;
    border-radius: 20px;
    background-color: #5DD859;
    width: 22%;
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    text-align: center;
    
  }


  .text_mainbanner_mobileapp{
    position: absolute;
    top: 73%;
    width: 89%;
    margin-top: 5%;
    margin-left: 5%;
  }


    .diary_section_1{
    position: absolute;
    font-family: HandBook;
    top:10%;left: 34%;
    font-size: 15px;
    font-weight: bold; 
    letter-spacing: 2px;
    color: #512771
  }


  .diary_section_2{
    position: absolute;
    font-family: HandBook;
    top:14.8%;
    left: 10%;
    font-size: 12px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_3{
    position: absolute;
    font-family: HandBook;
    top:26.3%;
    left: 14%;
    font-size: 12px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_4{
    position: absolute;
    font-family: HandBook;
    top:36.7%;left: 11%;
    font-size: 12px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_5{
    position: absolute;
    font-family: HandBook;
    top:54.2%;
    left: 10%;
    font-size: 12px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_6{
    position: absolute;
    font-family: HandBook;
    top:61.8%;
    left: 9.3%;
    font-size: 12px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_item_1{
    margin-bottom: 3%;
    line-height: 120%;
    padding-left: 0px
  }

  .diary_item_2{
    margin-bottom: 10%;line-height: 120%;padding-left: 0px
  }

  .diary_item_3{
    margin-bottom: 4%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_4{
    margin-bottom: 8%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_5{
    margin-bottom: 26%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_6{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_7{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;text-align: center;padding-left: 10%;padding-top: 1%;
  }

}

@media only screen and (min-width: 360px) and (max-width: 568px) {

   .footer_green_button{
    
    position: absolute;
    top: 6em;
    width: 89px;margin-left: 56%;

   }
   .footer_subscribe{
    position: absolute;
    top: 6em;
    color: #fff;
    font-weight: bold;
    margin-left: 58%;
    font-size: 15px
  }

  .footer_textbox_subscribe{
    position: absolute;
    top: 5.6em;
    margin-left: 12%;
    color: #5C2D93;
    font-size: 15px;
    border: none; 

   }

   .footer_mail_subscribe{
    position: absolute;top:6.3em;margin-left: 2%;

   }


   .footer_container_subscribe{
    margin-top: 0%;width: 85%;margin-left: 6%
   }

  .container_list_promo{
    width: 47%;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2%;
  }

  .container_katering_service{
    width: 100%;
  }

  .mobile-hide{
    display: none;
  }

  .mobile-view{
    display: inline;
  }

  .ins{
    margin-top: 8em;
  }

  .rectable_download_app{
    width: 100%;
    text-align: right;
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 0%;
  }

  .rectable_free{
    width: 100%;
    text-align: right;
    color: #fff;
    font-size: 9px;
    margin-bottom: 2%;  
  }

  .rectangle {
    position: absolute;
    top: 45em;
    width: 96%;
    margin-left: 2%;
  }

  .menu_our_menu{
    position: absolute;
    top: 34em;
    margin-left: 2em;
    width: 86%;
  }



  .text_mainbanner_gede{
    /*position: absolute;
    top: 0%;
    width: 100%;
    margin-top: 5%;*/

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;font-size: 30px;
    font-weight: bold;
  }

 /* .centered {
  
 }*/


  .title_mainbanner{
    color: #fff;font-size: 30px;margin-bottom: 1%;font-weight: bold;width: 86%;line-height: 30px;text-align: center;
     margin-left: auto;margin-right: auto;position: relative;
  }

  .desc_mainbanner{
    color: #fff;font-size: 18px;margin-bottom: 2%;text-align: left;width: 95%;text-align: center;
    margin-left: auto;margin-right: auto;position: relative;
  }

  .more_button_mainbanner{
    color: #fff;font-size: 15px;border-radius: 20px;background-color: #5DD859;width: 25%;
                margin-left: 0%;padding-top: 2%;padding-bottom: 2%;font-weight: bold;text-align: center;
                margin-left: auto;margin-right: auto;position: relative;
  }


  .text_mainbanner_gedebgt{
    position: absolute;
    top: 0%;
    width: 90%;
    margin-top: 5%;
  }

  .title_gedebgt{
    color: #fff;
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
    width: 57%;
    line-height: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .desc_gedebgt{
    color: #fff;
    font-size: 10px;
    margin-bottom: 2%;
    text-align: left;
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .more_button_gedebgt{
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
    background-color: #5DD859;
    width: 45%;
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }


  .text_mainbanner_openstore{
    position: absolute;
    top: 63%;
    width: 89%;
    margin-top: 5%;
    margin-left: 5%;
  }

  .title_openstore{
    color: #fff;
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
    width: 57%;
    line-height: 20px;
    text-align: left;
    
  }

  .desc_openstore{
    color: #fff;
    font-size: 10px;
    margin-bottom: 2%;
    text-align: left;
    width: 50%;
    text-align: left;
    
  }

  .more_button_openstore{
    color: #fff;
    font-size: 13px;
    border-radius: 20px;
    background-color: #5DD859;
    width: 22%;
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    text-align: center;
    
  }


  .text_mainbanner_mobileapp{
    position: absolute;
    top: 73%;
    width: 89%;
    margin-top: 5%;
    margin-left: 5%;
  }


  .diary_section_1{
    position: absolute;
    font-family: HandBook;
    top:10%;left: 34%;
    font-size: 15px;
    font-weight: bold; 
    letter-spacing: 2px;
    color: #512771;
    width: 50%;
  }


  .diary_section_2{
    position: absolute;
    font-family: HandBook;
    top:14.6%;
    left: 11%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_3{
    position: absolute;
    font-family: HandBook;
    top:26.3%;
    left: 14%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_4{
    position: absolute;
    font-family: HandBook;
    top:36.7%;left: 11%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_5{
    position: absolute;
    font-family: HandBook;
    top:54.2%;
    left: 10%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_6{
    position: absolute;
    font-family: HandBook;
    top:61.8%;
    left: 9.3%;
    font-size: 14px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_item_1{
    margin-bottom: 3%;
    line-height: 120%;
    padding-left: 0px
  }

  .diary_item_2{
    margin-bottom: 10%;line-height: 120%;padding-left: 0px
  }

  .diary_item_3{
    margin-bottom: 4%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_4{
    margin-bottom: 8%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_5{
    margin-bottom: 26%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_6{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_7{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;text-align: center;padding-left: 10%;padding-top: 1%;
  }

}

@media only screen and (min-width: 375px) and (max-width: 568px) {

  .mobile-hide{
    display: none;
  }

  .mobile-view{
    display: inline;
  }

  .ins{
    margin-top: 8em;
  }


  .footer_green_button {
    position: absolute;
    top: 5.8em;
    width: 89px;
    margin-left: 56%;
  }

  .footer_subscribe {
    position: absolute;
    top: 5.8em;
    color: #fff;
    font-weight: bold;
    margin-left: 58%;
    font-size: 15px;
  }


    .diary_section_1{
    position: absolute;
    font-family: HandBook;
    top:10%;left: 34%;
    font-size: 15px;
    font-weight: bold; 
    letter-spacing: 2px;
    color: #512771
  }


  .diary_section_2{
    position: absolute;
    font-family: HandBook;
    top:14.6%;
    left: 10%;
    font-size: 15px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_3{
    position: absolute;
    font-family: HandBook;
    top:26.3%;
    left: 14%;
    font-size: 15px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_4{
    position: absolute;
    font-family: HandBook;
    top:36.7%;left: 11%;
    font-size: 15px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_5{
    position: absolute;
    font-family: HandBook;
    top:54.2%;
    left: 10%;
    font-size: 15px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_6{
    position: absolute;
    font-family: HandBook;
    top:61.8%;
    left: 9.3%;
    font-size: 15px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_item_1{
    margin-bottom: 3%;
    line-height: 120%;
    padding-left: 0px
  }

  .diary_item_2{
    margin-bottom: 8%;line-height: 120%;padding-left: 0px
  }

  .diary_item_3{
    margin-bottom: 4%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_4{
    margin-bottom: 6%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_5{
    margin-bottom: 26%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_6{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_7{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;text-align: center;padding-left: 10%;padding-top: 1%;
  }

}

@media only screen and (min-width: 400px) and (max-width: 568px) {

   .footer_subscribe {
    position: absolute;
    top: 5.7em;
    color: #fff;
    font-weight: bold;
    margin-left: 58%;
    font-size: 15px;
   }

   .footer_mail_subscribe{
    position: absolute;top:6.1em;margin-left: 2%;

   }

   .footer_textbox_subscribe{
    position: absolute;
    top: 5.3em;
    margin-left: 12%;
    color: #5C2D93;
    font-size: 15px;
    border: none; 

   }

   .footer_green_button {
    position: absolute;
    top: 5.7em;
    width: 89px;
    margin-left: 56%;
  }

  .mobile-hide{
    display: none;
  }

  .mobile-view{
    display: inline;
  }

  .ins{
    margin-top: 9em;
  }

  .rectable_download_app{
    width: 100%;
    text-align: right;
    color: #fff;
    font-weight: bold;
    font-size: 11px;
    margin-bottom: 3%;
  }

  .rectable_free{
    width: 100%;
    text-align: right;
    color: #fff;
    font-size: 9px;
  }


  .phone_home{
    width: 15%;
    text-align: center;
    position: absolute;
    margin-left: 79%;
    top: -1.5em;

  }

  .phone_home_right{
    width: 15%;
    text-align: center;
    position: absolute;
    margin-left: 86%;
    top: -0.7em;

  }

  .header_ingredents{
    color: #5D2E96;
    font-weight: bold;
    font-size: 15px;
  }

  .rectangle {
    position: absolute;
    top: 51em;
    width: 96%;
    margin-left: 2%;
  }

  .menu_our_menu{
    position: absolute;
    top: 36em;
    margin-left: 2em;
    width: 86%;
  }

  .title_gedebgt{
    color: #fff;
    font-size: 20px;
    margin-bottom: 1%;
    font-weight: bold;
    width: 57%;
    line-height: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .desc_gedebgt{
    color: #fff;
    font-size: 12px;
    margin-bottom: 2%;
    text-align: left;
    width: 79%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .more_button_gedebgt{
    color: #fff;
    font-size: 12px;
    border-radius: 20px;
    background-color: #5DD859;
    width: 45%;
    margin-left: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .text_mainbanner_mobileapp {
    position: absolute;
    top: 72%;
    width: 89%;
    margin-top: 5%;
    margin-left: 5%;
  }

    .diary_section_1{
    position: absolute;
    font-family: HandBook;
    top:10%;left: 34%;
    font-size: 15px;
    font-weight: bold; 
    letter-spacing: 2px;
    color: #512771
  }


  .diary_section_2{
    position: absolute;
    font-family: HandBook;
    top:14.6%;
    left: 10%;
    font-size: 17px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_3{
    position: absolute;
    font-family: HandBook;
    top:26.3%;
    left: 14%;
    font-size: 17px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_4{
    position: absolute;
    font-family: HandBook;
    top:36.7%;left: 11%;
    font-size: 17px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_5{
    position: absolute;
    font-family: HandBook;
    top:54.2%;
    left: 10%;
    font-size: 17px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_6{
    position: absolute;
    font-family: HandBook;
    top:61.8%;
    left: 9.3%;
    font-size: 17px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_item_1{
    margin-bottom: 3%;
    line-height: 120%;
    padding-left: 0px
  }

  .diary_item_2{
    margin-bottom: 10%;line-height: 120%;padding-left: 0px
  }

  .diary_item_3{
    margin-bottom: 4%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_4{
    margin-bottom: 8%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_5{
    margin-bottom: 26%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_6{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_7{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;text-align: center;padding-left: 10%;padding-top: 1%;
  }

}

@media only screen and (min-width: 480px) and (max-width: 568px) {
  .mobile-hide{
    display: none;
  }

  .mobile-view{
    display: inline;
  }
} 


@media screen and (min-width:400px) and (max-width:500px) {
  
  .mobile-hide{
    display: none;
  }

  .mobile-view{
    display: inline;
  }

}


@media screen and (min-width:360px) and (max-width:370px) {

  .mobile-hide{
    display: none;
  }

  .mobile-view{
    display: inline;
  }

}

@media screen and (min-width: 768px) and (max-width: 1000px){

  .diary_section_1{
    position: absolute;
    font-family: HandBook;
    top:11%;
    left: 34%;
    font-size: 30px;
    font-weight: bold; 
    letter-spacing: 2px;
    color: #512771
  }


  .diary_section_2{
    position: absolute;
    font-family: HandBook;
    top:15.5%;
    left: 10%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_3{
    position: absolute;
    font-family: HandBook;
    top:27%;
    left: 14%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_4{
    position: absolute;
    font-family: HandBook;
    top:38.4%;left: 11%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_5{
    position: absolute;
    font-family: HandBook;
    top:54.5%;
    left: 10%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_6{
    position: absolute;
    font-family: HandBook;
    top:62.2%;
    left: 9.3%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_item_1{
    margin-bottom: 3%;
    line-height: 120%;
    padding-left: 0px;
    width:97%;
  }

  .diary_item_2{
    margin-bottom: 10%;line-height: 120%;padding-left: 0px
  }

  .diary_item_3{
    margin-bottom: 4%;line-height: 120%;padding-left: 0px;width: 95%;
  }

  .diary_item_4{
    margin-bottom: 8%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_5{
    margin-bottom: 26%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_6{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_7{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;text-align: center;padding-left: 10%;padding-top: 1%;
  }

}

@media screen and (min-width: 600px) and (max-width: 700px){

  .diary_section_1{
    position: absolute;
    font-family: HandBook;
    top:11%;
    left: 34%;
    font-size: 30px;
    font-weight: bold; 
    letter-spacing: 2px;
    color: #512771
  }


  .diary_section_2{
    position: absolute;
    font-family: HandBook;
    top:15.5%;
    left: 10%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_3{
    position: absolute;
    font-family: HandBook;
    top:27%;
    left: 14%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_4{
    position: absolute;
    font-family: HandBook;
    top:38.4%;left: 11%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_5{
    position: absolute;
    font-family: HandBook;
    top:54.5%;
    left: 10%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_6{
    position: absolute;
    font-family: HandBook;
    top:62.2%;
    left: 9.3%;
    font-size: 29px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_item_1{
    margin-bottom: 3%;
    line-height: 120%;
    padding-left: 0px;
    width:97%;
  }

  .diary_item_2{
    margin-bottom: 10%;line-height: 120%;padding-left: 0px
  }

  .diary_item_3{
    margin-bottom: 4%;line-height: 120%;padding-left: 0px;width: 95%;
  }

  .diary_item_4{
    margin-bottom: 8%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_5{
    margin-bottom: 26%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_6{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_7{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;text-align: center;padding-left: 10%;padding-top: 1%;
  }

}


@media screen and (min-width: 1024px) and (max-width: 1366px){


  .diary_section_1{
    position: absolute;
    font-family: HandBook;
    top:11%;
    left: 34%;
    font-size: 40px;
    font-weight: bold; 
    letter-spacing: 2px;
    color: #512771
  }


  .diary_section_2{
    position: absolute;
    font-family: HandBook;
    top:15.5%;
    left: 10%;
    font-size: 39px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_3{
    position: absolute;
    font-family: HandBook;
    top:27%;
    left: 14%;
    font-size: 39px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_4{
    position: absolute;
    font-family: HandBook;
    top:38.4%;left: 11%;
    font-size: 39px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_5{
    position: absolute;
    font-family: HandBook;
    top:54.5%;
    left: 10%;
    font-size: 39px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_section_6{
    position: absolute;
    font-family: HandBook;
    top:62.2%;
    left: 9.3%;
    font-size: 39px;
    letter-spacing: 1px;
    color: #512771
  }

  .diary_item_1{
    margin-bottom: 3%;
    line-height: 120%;
    padding-left: 0px;
    width:97%;
  }

  .diary_item_2{
    margin-bottom: 10%;line-height: 120%;padding-left: 0px
  }

  .diary_item_3{
    margin-bottom: 4%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_4{
    margin-bottom: 8%;line-height: 120%;padding-left: 0px;width: 95%;
  }

  .diary_item_5{
    margin-bottom: 26%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_6{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;
  }

  .diary_item_7{
    margin-bottom: 3%;line-height: 120%;padding-left: 0px;text-align: center;padding-left: 10%;padding-top: 1%;
  }

}
s
@media screen and (min-width:1920px){
  .container_event2 {
    width: 70%;
  }

  .container_event {
    width: 60%;
  }

  .container_promo{
     width: 71%;
  }

  .container_filter_promo{
    width: 61%;
  }

  .padding_kategori_event{
   padding-left: 2%;
  }
}



.selectdiv {
  position: relative;
  /*Don't really need this just for demo styling*/
  
  float: left;
}

.selectdiv:after {
    content: '\f078';
    font: normal normal normal 17px/1 FontAwesome;
    color: #fff;
    right: 11px;
    top: 6px;
    height: 34px;
    padding: 15px 0px 0px 5px;
    /*border-left: 1px solid #0ebeff;*/
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
display: none;
}

.selectdiv select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Add some styling */
  
  display: block;
  width: 100%;
  max-width: 320px;
  height: 50px;
  float: right;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 1.75;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #0ebeff;
  -ms-word-break: normal;
  word-break: normal;
}
