 .slick-prev{
 	background: url('../img/left_arrow.png') no-repeat;
    background-size: 100%;
    background-position: center;

    height: : 40px;
    width: 40px;
 }
 .slick-next {
    background: url('../img/right_arrow.png') no-repeat;
    background-size: 100%;
    background-position: center;
    height: : 40px;
    width: 40px;
 }

.slick-prev:hover{
    background: url('../img/left_arrow.png') no-repeat;
    background-size: 100%;
    background-position: center;

    height: : 40px;
    width: 40px;
 }

 .slick-next:hover {
    background: url('../img/right_arrow.png') no-repeat;
    background-size: 100%;
    background-position: center;
    height: : 40px;
    width: 40px;
}
 

 .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 40px;
    line-height: 1;
    opacity: .75;
    color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev, .slick-next {
	height: 100px;
}


.multiple-items2  .slick-next {
    right: 16px;
}

.multiple-items2 .slick-prev {
    left: 16px;
    z-index: 1000;
}

.multiple-items2-product  .slick-next {
    right: 16px;
}

.multiple-items2-product .slick-prev {
    left: 16px;
    z-index: 1000;
}

.multiple-items_mobile  .slick-next {
    right: 16px;
}

.multiple-items_mobile .slick-prev {
    left: 16px;
    z-index: 1000;
}

.slick-dots{
    bottom: 26px;
    color: #fff;
}

.slick-dots li button{
    color:  #fff;
    background: url('../img/slide_inaktif.png') no-repeat;
    background-size: 100%;
    background-position: center;
    width:14px;
    height:14px;
}

.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 15px;
    line-height: 15px;

    position: absolute;
    top: 1px;
    left: 0;

    width: 15px;
    height: 15px;

    content: '•';
    text-align: center;
    color:  transparent;    

    opacity: .25;
    color:  none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #E9AFE4;
}