//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 14px $base_font_family;
    line-height: $base_line_height;
}

body {
    text-decoration-skip: ink;
    color: #666;

    @media #{$large} {
        &.nav-active {
            overflow: hidden;
        }
    }
}

a {
    color: palette(red);
    text-decoration: none;

    &:hover,
    &:focus {
        color: darken(palette(red), 10%);
    }
}

.block {
    margin-bottom: $space;
}

.block-half {
    margin-bottom: ($space / 2);
}

.container {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;

    @media #{$large} {
        width: 960px;
        max-width: none;
    }

    @media screen and (min-width: 70em) {
        width: 1024px;
    }

    @media screen and (min-width: 80em) {
        width: 1120px;
    }
}

.site-main {
    position: relative;
    z-index: 1;
    padding-top: 64px;
    padding-bottom: $space;

    .flash-msg + .sticky-footer-container & {
        padding-top: 88px;
    }

    @media #{$large} {
        padding-top: 111px;
        overflow-x: hidden;

        .flash-msg + .sticky-footer-container & {
            padding-top: 141px;
        }
    }
}

.site-main--pushed {
    > :first-child {
        margin-top: $space;
    }
}

.site-cover {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: rgba(#222, .7);
    opacity: 0;
    pointer-events: none;
    transition: all 350ms ease;

    .nav-active & {
        opacity: 1;
        pointer-events: auto;
    }
}

.custom-ol {
    padding: 0;
    margin-bottom: ($space * 2);
    list-style: none;
    counter-reset: customOl;

    li {
        position: relative;
        padding-left: ($space * 2.5);
        counter-increment: customOl;

        &:not(:last-child) {
            margin-bottom: ($space * 1.5);
        }

        &:before {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 16px;
            font-weight: 700;
            text-align: center;
            line-height: 40px;
            color: #fff;
            background: #797979;
            content: counter(customOl);
            transform: translate(0, -8px);
        }
    }
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //


// 5 Footer
// ------------------------------------------------------------------------ //
